Package: com.adriandev.colorshortcuts
Name: ColorShortcuts
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: AdrianDev
Author: AdrianDev
Section: Tweaks
